.profile__about {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 700px) {
  .profile__about {
    font-size: 14px;
    padding-top: 8px;
    max-width: 100%;
  }
}
