.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 40px 0 50px;
  gap: 30px;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 700px) {
  .profile {
    flex-flow: column;
    text-align: center;
    padding: 42px 0 36px;
    gap: 0;
  }
}
