.popup__container_theme_form {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 36px 37px;
  width: min-content;
}

@media screen and (max-width: 560px) {
  .popup__container_theme_form {
    padding: 0 22px 25px;
    width: calc(100% - (2 * 19px));
    min-width: calc(320px - (2 * 19px));
  }
}
