.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}

.profile__avatar-edit:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/pencil.svg);
  background-position: center center;
  background-size: 26px 26px;
  background-repeat: no-repeat;
}
